In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv('../Punya Andi/UFC_kombinasi5.csv')

In [11]:
df.head()

,B_Height_cms,B_Weight_lbs,gender,B_avg_CLINCH_att,B_win_by_TKO_Doctor_Stoppage,B_avg_LEG_att,B_age,B_win_by_Submission,R_avg_KD,B_avg_opp_HEAD_landed,...,B_avg_opp_SUB_ATT,B_avg_LEG_landed,B_avg_CTRL_time(seconds),R_avg_opp_CTRL_time(seconds),B_avg_opp_TOTAL_STR_att,B_avg_opp_TOTAL_STR_landed,B_avg_opp_GROUND_att,R_avg_opp_SIG_STR_pct,B_avg_TOTAL_STR_landed,B_Reach_cms
0,5.817944,5.707110,1,1.770706,0.0,2.197225,3.806662,0.000000,0.000000,3.198673,...,0.693147,1.998077,4.892520,5.326054,4.887997,4.363099,1.998096,0.368109,3.314186,5.825469
1,5.802722,5.602119,1,1.897901,0.0,2.018023,3.828641,0.000000,0.405465,3.336937,...,0.124703,1.870600,3.609439,4.753590,4.531339,3.528656,0.436237,0.291970,4.055582,5.787265
2,5.817944,5.655992,1,0.000000,0.0,1.609438,3.850148,0.000000,0.000000,3.167583,...,0.000000,1.098612,2.844182,4.376726,4.594251,3.701302,0.223144,0.202941,3.403279,5.825469
3,5.795024,5.707110,1,2.554680,0.0,1.486564,3.850148,0.000000,0.019852,2.237213,...,0.060625,1.298573,4.238174,4.764674,3.971176,3.390200,0.594707,0.281840,3.457647,5.779446
4,5.763622,5.525453,1,2.395985,0.0,2.227707,3.970292,1.386294,0.277868,3.329550,...,0.000244,1.928921,5.351532,5.098627,4.843083,4.281648,1.917504,0.350657,3.956628,5.763622

In [12]:
df_test = pd.read_csv('./New_UFC_Test_Regression_X(3).csv')

In [13]:
def check_null(df):
    col_na = df.isnull().sum().sort_values(ascending=True)
    percent = col_na / len(df)
    missing_data = pd.concat([col_na, percent], axis=1, keys=['Total', 'Percent'])

    if (missing_data[missing_data['Total'] > 0].shape[0] == 0):
        print("Tidak ditemukan missing value pada dataset")
    else:
        print(missing_data[missing_data['Total'] > 0])

In [14]:
check_null(df_test)

                              Total   Percent
Referee                           2  0.002561
R_Stance                          2  0.002561
R_Reach_cms                      17  0.021767
R_avg_HEAD_att                   69  0.088348
R_avg_opp_BODY_att               69  0.088348
...                             ...       ...
B_avg_opp_CTRL_time(seconds)    134  0.171575
B_avg_opp_GROUND_landed         134  0.171575
B_avg_opp_GROUND_att            134  0.171575
B_avg_TD_landed                 134  0.171575
B_avg_BODY_landed               134  0.171575

[101 rows x 2 columns]

In [15]:
df_test.head()

,id,R_fighter,B_fighter,Referee,date,location,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,0,Rose Namajunas,Angela Hill,Joe Solis,10/3/2015,"Houston, Texas, USA",False,WomenStrawweight,0.500000,0.000000,...,0,0,0,0,Orthodox,165.10,165.10,115,30,23
1,1,Miesha Tate,Liz Carmouche,Herb Dean,4/19/2014,"Orlando, Florida, USA",False,WomenBantamweight,0.000000,0.000000,...,0,0,0,0,Orthodox,167.64,167.64,135,30,27
2,2,Vitor Belfort,Dan Henderson,Mario Yamasaki,11/7/2015,"Sao Paulo, Sao Paulo, Brazil",False,Middleweight,0.568909,0.437805,...,0,10,2,1,Southpaw,182.88,187.96,185,45,38
3,3,Louis Gaudinot,Tim Elliott,Herb Dean,8/31/2013,"Milwaukee, Wisconsin, USA",False,Flyweight,0.500000,0.000000,...,0,0,1,0,Orthodox,160.02,160.02,125,26,29
4,4,Joseph Benavidez,Eddie Wineland,Josh Rosenthal,8/14/2011,"Milwaukee, Wisconsin, USA",False,Bantamweight,0.000000,0.000000,...,1,0,0,0,Southpaw,162.56,165.10,125,27,27

In [16]:
df_test_id = df_test['id']
df_test = df_test.drop(['id'], axis=1)
df_test_id.head()

0    0
1    1
2    2
3    3
4    4
Name: id, dtype: int64

In [17]:
df_test.head()

,R_fighter,B_fighter,Referee,date,location,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,B_avg_SIG_STR_pct,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Rose Namajunas,Angela Hill,Joe Solis,10/3/2015,"Houston, Texas, USA",False,WomenStrawweight,0.500000,0.000000,0.530000,...,0,0,0,0,Orthodox,165.10,165.10,115,30,23
1,Miesha Tate,Liz Carmouche,Herb Dean,4/19/2014,"Orlando, Florida, USA",False,WomenBantamweight,0.000000,0.000000,0.565000,...,0,0,0,0,Orthodox,167.64,167.64,135,30,27
2,Vitor Belfort,Dan Henderson,Mario Yamasaki,11/7/2015,"Sao Paulo, Sao Paulo, Brazil",False,Middleweight,0.568909,0.437805,0.583355,...,0,10,2,1,Southpaw,182.88,187.96,185,45,38
3,Louis Gaudinot,Tim Elliott,Herb Dean,8/31/2013,"Milwaukee, Wisconsin, USA",False,Flyweight,0.500000,0.000000,0.435000,...,0,0,1,0,Orthodox,160.02,160.02,125,26,29
4,Joseph Benavidez,Eddie Wineland,Josh Rosenthal,8/14/2011,"Milwaukee, Wisconsin, USA",False,Bantamweight,0.000000,0.000000,0.150000,...,1,0,0,0,Southpaw,162.56,165.10,125,27,27

In [18]:
df_test = df_test.reindex(columns=df.columns)
df_test.head()

,B_Height_cms,B_Weight_lbs,gender,B_avg_CLINCH_att,B_win_by_TKO_Doctor_Stoppage,B_avg_LEG_att,B_age,B_win_by_Submission,R_avg_KD,B_avg_opp_HEAD_landed,...,B_avg_opp_SUB_ATT,B_avg_LEG_landed,B_avg_CTRL_time(seconds),R_avg_opp_CTRL_time(seconds),B_avg_opp_TOTAL_STR_att,B_avg_opp_TOTAL_STR_landed,B_avg_opp_GROUND_att,R_avg_opp_SIG_STR_pct,B_avg_TOTAL_STR_landed,B_Reach_cms
0,160.02,115,NaN,51.000000,0,5.500000,30,0,0.000000,14.500000,...,0.0000,5.500000,143.00000,302.000000,128.50000,73.000000,2.000000,0.460000,103.000000,NaN
1,167.64,125,NaN,3.250000,0,8.500000,30,0,0.000000,13.250000,...,0.5000,8.500000,140.00000,388.500000,112.50000,48.250000,2.750000,0.730000,66.500000,NaN
2,180.34,185,NaN,2.618469,0,1.603455,45,0,0.703281,9.951538,...,0.2547,1.427307,5.97876,57.214233,42.97699,26.612976,10.080139,0.545199,12.376587,NaN
3,170.18,125,NaN,13.500000,0,4.000000,26,0,0.000000,41.000000,...,0.0000,3.500000,215.00000,287.500000,172.50000,64.500000,2.500000,0.515000,135.000000,NaN
4,170.18,135,NaN,4.000000,0,4.000000,27,0,0.000000,36.000000,...,0.0000,2.000000,103.00000,15.000000,122.00000,61.000000,48.000000,0.500000,21.000000,NaN

In [19]:
df_test = pd.read_csv('../regression_kaggle/UFC_kombinasi5.csv')

In [20]:
df_test.head()

,id,weight_class,B_Height_cms,B_Reach_cms,R_win_by_TKO_Doctor_Stoppage,R_Height_cms
0,0.000000,1,5.755616,0,0.000000,5.763622
1,0.693147,3,5.779446,0,0.000000,5.771566
2,1.098612,7,5.817944,0,0.693147,5.817944
3,1.386294,2,5.787265,0,0.000000,5.747544
4,1.609438,3,5.787265,0,0.000000,5.755616

In [21]:
num = 3
num = np.log(num)

In [22]:
print(num)
print(np.exp(num))

1.0986122886681098
3.0000000000000004