In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../Punya Andi/UFC_kombinasi5.csv')

In [3]:
df.head()

,B_Height_cms,B_Weight_lbs,B_age,B_avg_CLINCH_landed,gender,B_avg_TD_landed,B_win_by_Submission,B_win_by_TKO_Doctor_Stoppage,B_avg_opp_TOTAL_STR_att,B_avg_LEG_landed,...,B_avg_KD,B_avg_opp_HEAD_landed,B_avg_opp_GROUND_att,B_avg_opp_REV,R_Reach_cms,B_avg_SIG_STR_att,R_avg_HEAD_att,B_avg_SIG_STR_landed,B_avg_BODY_att,B_Reach_cms
0,182.88,185.0,26.0,3.000000,1,1.250000,0.0,0.0,115.750000,7.500000,...,0.000000,35.187500,1.000000,0.0,177.80,72.000000,82.125000,30.500000,11.437500,190.50
1,177.80,155.0,27.0,3.679688,1,0.625000,0.0,0.0,91.882812,5.492188,...,1.156250,27.132812,0.546875,0.0,187.96,137.460938,93.468750,53.234375,13.625000,177.80
2,182.88,170.0,28.0,4.459656,1,0.000000,0.0,0.0,103.500000,5.747070,...,0.000000,29.500000,4.000000,0.0,193.04,81.500000,82.127930,32.500000,6.000000,190.50
3,175.26,185.0,28.0,8.617188,1,0.804688,0.0,0.0,52.046875,2.664062,...,0.695312,8.367188,0.812500,0.0,185.42,39.218750,72.988626,19.015625,5.429688,175.26
4,165.10,135.0,34.0,6.316650,1,3.588867,3.0,0.0,125.859863,5.882080,...,0.500000,26.925781,5.803955,0.5,167.64,74.522461,68.460938,29.986572,8.149902,170.18

In [4]:
df_test = pd.read_csv('./New_UFC_Test_Regression_X(3).csv')

In [5]:
df_test.head()

,id,R_fighter,B_fighter,Referee,date,location,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,0,Rose Namajunas,Angela Hill,Joe Solis,10/3/2015,"Houston, Texas, USA",False,WomenStrawweight,0.500000,0.000000,...,0,0,0,0,Orthodox,165.10,165.10,115,30,23
1,1,Miesha Tate,Liz Carmouche,Herb Dean,4/19/2014,"Orlando, Florida, USA",False,WomenBantamweight,0.000000,0.000000,...,0,0,0,0,Orthodox,167.64,167.64,135,30,27
2,2,Vitor Belfort,Dan Henderson,Mario Yamasaki,11/7/2015,"Sao Paulo, Sao Paulo, Brazil",False,Middleweight,0.568909,0.437805,...,0,10,2,1,Southpaw,182.88,187.96,185,45,38
3,3,Louis Gaudinot,Tim Elliott,Herb Dean,8/31/2013,"Milwaukee, Wisconsin, USA",False,Flyweight,0.500000,0.000000,...,0,0,1,0,Orthodox,160.02,160.02,125,26,29
4,4,Joseph Benavidez,Eddie Wineland,Josh Rosenthal,8/14/2011,"Milwaukee, Wisconsin, USA",False,Bantamweight,0.000000,0.000000,...,1,0,0,0,Southpaw,162.56,165.10,125,27,27

In [6]:
df_test_id = df_test['id']
df_test = df_test.drop(['id'], axis=1)
df_test_id.head()

0    0
1    1
2    2
3    3
4    4
Name: id, dtype: int64

In [7]:
df_test.head()

,R_fighter,B_fighter,Referee,date,location,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,B_avg_SIG_STR_pct,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Rose Namajunas,Angela Hill,Joe Solis,10/3/2015,"Houston, Texas, USA",False,WomenStrawweight,0.500000,0.000000,0.530000,...,0,0,0,0,Orthodox,165.10,165.10,115,30,23
1,Miesha Tate,Liz Carmouche,Herb Dean,4/19/2014,"Orlando, Florida, USA",False,WomenBantamweight,0.000000,0.000000,0.565000,...,0,0,0,0,Orthodox,167.64,167.64,135,30,27
2,Vitor Belfort,Dan Henderson,Mario Yamasaki,11/7/2015,"Sao Paulo, Sao Paulo, Brazil",False,Middleweight,0.568909,0.437805,0.583355,...,0,10,2,1,Southpaw,182.88,187.96,185,45,38
3,Louis Gaudinot,Tim Elliott,Herb Dean,8/31/2013,"Milwaukee, Wisconsin, USA",False,Flyweight,0.500000,0.000000,0.435000,...,0,0,1,0,Orthodox,160.02,160.02,125,26,29
4,Joseph Benavidez,Eddie Wineland,Josh Rosenthal,8/14/2011,"Milwaukee, Wisconsin, USA",False,Bantamweight,0.000000,0.000000,0.150000,...,1,0,0,0,Southpaw,162.56,165.10,125,27,27

In [8]:
df_test = df_test.reindex(columns=df.columns)
df_test.head()

,B_Height_cms,B_Weight_lbs,B_age,B_avg_CLINCH_landed,gender,B_avg_TD_landed,B_win_by_Submission,B_win_by_TKO_Doctor_Stoppage,B_avg_opp_TOTAL_STR_att,B_avg_LEG_landed,...,B_avg_KD,B_avg_opp_HEAD_landed,B_avg_opp_GROUND_att,B_avg_opp_REV,R_Reach_cms,B_avg_SIG_STR_att,R_avg_HEAD_att,B_avg_SIG_STR_landed,B_avg_BODY_att,B_Reach_cms
0,160.02,115,30,39.500000,NaN,0.000000,0,0,128.50000,5.500000,...,0.500000,14.500000,2.000000,0.0,165.10,113.500000,53.000000,67.000000,26.500000,NaN
1,167.64,125,30,2.500000,NaN,1.250000,0,0,112.50000,8.500000,...,0.000000,13.250000,2.750000,0.0,167.64,64.750000,42.500000,35.000000,5.250000,NaN
2,180.34,185,45,1.548706,NaN,0.016479,0,0,42.97699,1.427307,...,0.568909,9.951538,10.080139,0.0,187.96,19.129761,24.925158,10.428894,1.004883,NaN
3,170.18,125,26,8.000000,NaN,3.500000,0,0,172.50000,3.500000,...,0.500000,41.000000,2.500000,0.5,160.02,147.000000,68.000000,57.500000,18.500000,NaN
4,170.18,135,27,3.000000,NaN,1.000000,0,0,122.00000,2.000000,...,0.000000,36.000000,48.000000,0.0,165.10,71.000000,72.000000,11.000000,2.000000,NaN